<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="files">
          <th mat-header-cell *matHeaderCellDef>Archivos</th>
          <td mat-cell *matCellDef="let element">
            <input type="file" name="{{ element.filaname }}" />
            <button mat-button color="primary">+</button>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="vigencias">
          <th mat-header-cell *matHeaderCellDef>Vigencia</th>
          <td mat-cell *matCellDef="let element">
            <!--Aquí iría el rendereizado dinamico en caso de que se necesite-->
            <ng-container>
              <div class="date-picker-container">
                <mat-form-field>
                  <mat-label>Fecha inicio</mat-label>
                  <input matInput [matDatepicker]="picker1" />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Fecha fin</mat-label>
                  <input matInput [matDatepicker]="picker2" />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
